*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      min-height: 100vh;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #c6a6a6;
  }
  .wrapper{
      position: relative;
      width: 27rem;
      height: 13rem;
      margin-top: 1rem;
  }
  .env{
      width: 100%;
      height: 100%;
      inset: 0;
      position: absolute;
      box-shadow: 10px 35px 25px #c6a6a6;
  }
  .env::before{
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      background: linear-gradient(127deg, #ff061b, #ff8a8a);
      clip-path: polygon(3% 0%, 50% 70%, 97% 0%);
      transform-origin: top;
      animation: openenv 2s linear forwards 2s;
  }
  .env::after{
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(-127deg, #ff061b, #ff8a8a); /* Updated gradient for red envelope */
      border-radius: 1rem;
  }
  .front{
      position: absolute;
      inset: 0;
      border-right: 12.5rem solid transparent;
      border-top: 7rem solid transparent;
      border-bottom: 7rem solid transparent;
      border-radius: 0 1rem 1rem 0;
  }
  .front::before{
      content: '';
      position: absolute;
      border-left: 12.5rem solid transparent;
      border-bottom: 7rem solid transparent;
      border-top: 7rem solid transparent;
      top: -7rem;
  }
  .front::after{
      content: '';
      position: absolute;
      border-bottom: 7rem solid transparent;
      border-right: 12.5rem solid transparent;
      border-left: 12.5rem solid transparent;
      border-radius: 0 0 1rem 1rem;
  }
  img{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6rem;
      z-index: 5;
      transform-origin: top;
      transform: translate(-50%,-20%);
      animation: stamp 1s forwards 1s;
  }
  .lettre{
      background: #fff0ad;
      height: 95%;
      width: 85%;
      margin: .5rem auto;
      font-size: 1.5rem;
      color: #bd0707;
      font-family: 'pacifico';
      text-align: center;
      padding-top: 2rem;
      animation: lettre 1s forwards 4s;
  }
  @keyframes openenv {
      100%{
          transform: rotateX(180deg) translateY(-.3rem);
          z-index: -1;
          background: linear-gradient(45deg, #ff061b, #ff8a8a);
      }
  }
  @keyframes lettre {
      100%{transform: translateY(-7rem);}
  }
  @keyframes stamp {
      100%{transform: translate(-50%,-30%) scaleX(0);}
  }
  